*
    margin 0
    padding 0

html,body
    width 100%
    height 100%
    overflow-x hidden
a
    text-decoration none
    cursor pointer
.header
    width 100%
    height .6rem
  

.router-link-active //进入元素的高亮
    color:#000 !important
.router-link-exact-active  //所选元素的高亮
    color:red !important 


.line-ellipsis
    text-overflow ellipsis
    overflow hidden 
    white-space nowrap
.font-13
    font-size .13rem
    line-height .15rem
    
.color-666
    color #666   

.line-clamp-3
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;